:root {
  --text-color: #000958; 
  --back-color-btn-search: rgb(255, 91, 46) ; 
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #fffaf5;
  font-family: poppins;
}
.Body-Container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--text-color);
}
.Nav-Left {
  display: flex;
  flex-direction: row;
}
.Nav-Left .logo a {
  margin-right: 40px;
  font-size: 30px;
  color: var(--text-color);
}
.Nav-Left ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Nav-Left ul a,
.Nav-Right a {
  text-decoration: none;
  margin: 10px 15px;
  font-size: 18px;
  color: var(--text-color);
}

.Nav-Right a {
  font-size: 22px;
}
/* start home page style */
#home {
  width: 100%;
  height: calc(100vh - 70px);
}
#homeContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  place-content: center;
}
#home #homeContent .rightHomeSide {
  grid-column-start: 3;
  grid-column-end: 4;
  place-content: center;
}
#home #homeContent .leftHomeSide {
  grid-column-start: 1;
  grid-column-end: 3;
  place-content: center;
}
#home #homeContent .rightHomeSide div {
  width: 70%;
  height: 70%;
  border-radius: 9999px; 
  overflow: hidden;
}
#home #homeContent .rightHomeSide div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home #homeContent .leftHomeSide p:first-child {
  color: var(--text-color);
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  width: 90%;
}
#home #homeContent .leftHomeSide div:first-child p:last-child {
  color: #616594;
  font-weight: 400;
  font-size: 1.6rem;
  
}
#home #homeContent .leftHomeSide div:last-child{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 60px;
  margin-top: 40px;

}
#home #homeContent .leftHomeSide div:last-child div{
  width: 50%;
  height: 60px;
  position: relative;

}
#home #homeContent .leftHomeSide div:last-child div .search-icon-right {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; 
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}

#home #homeContent .leftHomeSide div:last-child div input{
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 18px;
  color: var(--text-color) ;
  border: none;
  border-radius: 30px;
  outline: none;
  box-shadow: 3px 3px 8px 0 rgb(0, 0, 0,0.3);
  
}
#home #homeContent .leftHomeSide div:last-child div input::placeholder {

  color: var(--text-color) ;
  
}

#home #homeContent .leftHomeSide div:last-child button{
  width: 140px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color:var(--back-color-btn-search) ;
  color: white;
  font-size: 20px;
}

/* end home page style */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px;
}

.contact .parent {
  display: grid;
  width: 800px;
  height: 500px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 8px;
  position: relative;
}

.contact .div1 {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact .div1 h3 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-color);
}
.contact .div1,
.contact .div3 {
  padding: 40px;
}
.contact .div3 form {
  width: 100%;
  height: 90%;
}
.contact .div1 > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.contact .parent > .div1 > div div span,
.SocialLinks span i {
  color: var(--text-color);
}
.contact .parent > .div1 i {
  margin-right: 10px;
  margin-bottom: 7px;
  font-size: 18px;
}
.contact .parent > .div1 .SocialLinks i {
  font-size: 24px;
  margin-top: 10px;
}

.Address {
  grid-row-start: 2;
}

.Social {
  grid-row-start: 2;
}

.email span a {
  text-decoration: underline;
}

.contact .div2 {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 8;
  border: none;
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact .div3 {
  background-color: var(--text-color);
  grid-row: span 1 / span 1;
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 8;
  border: none;
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*footer*/

.footer {
  background-color: #fde7cb;
  width: 100%;
  height: 300px;
}
.footer .Footer-Container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.footer .Footer-Container .footer-content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  padding: 60px 0;
}
.footer .Footer-Container .footer-content div:nth-child(1) i {
  font-size: 40px;
}
.footer .Footer-Container .footer-content > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .Footer-Container .footer-content div h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
}
.footer .Footer-Container .footer-content div a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
}
.footer .Footer-Container .footer-content div:last-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer .Footer-Container .footer-content div:last-child div div {
  display: flex;
  flex-direction: row;
}
.footer .Footer-Container .footer-content div:last-child > div i:last-child {
  font-size: 40px;
  color: var(--text-color);
  margin-right: 10px;
}
.footer .Footer-Container .footer-content div:last-child > div h4 {
  left: 0;
}
.footer hr {
  border: 1px solid var(--text-color);
}

.copyrightFoot {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

.div3 h3 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}
.div3 form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div3 form label {
  color: white;
  font-size: 16px;
}
.div3 form > div:first-child {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.div3 form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div3 form input {
  width: 100%;
  height: 30px;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #293173;
}
.div3 form textarea {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #293173;
  padding: 10px;
  color: #676873;
}
.div3 form button {
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #ff5b2e;
  color: white;
}
