:root {
  --text-color: #000958;
  --second--primary-backgr: rgb(255, 240, 225);
  --back-color-btn-search: rgb(255, 91, 46);
  --text-color-price--main: rgb(255, 91, 46);
  --back-color-cover: rgb(237, 181, 7);
  --box-shadow--box:
    0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button,
i,
a,
li {
  cursor: pointer;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #fffaf5;
  font-family: poppins;
}
.Body-Container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--text-color);
}
#menuIcon {
  display: none;
  cursor: pointer;
}
.Nav-Left .logo a {
  margin-right: 40px;
  font-size: 30px;
  color: var(--text-color);
}
.Nav-Right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  border-radius: 0px 0 20px 20px;
  transition: all 0.3s ease;
}
.Nav-Right.active {
  display: block;
}
.Nav-Right > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.Nav-Right ul:first-child {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.Nav-Right ul a,
.Nav-Right a {
  text-decoration: none;
  margin: 10px 15px;
  font-size: 18px;
  color: var(--text-color);
}

.Nav-Right a {
  font-size: 22px;
}

@media screen and (max-width: 728px) {
  header {
    width: 100%;
    display: flex;
    position: relative;
  }
  #menuIcon {
    display: block;
  }
  .Nav-Right {
    display: none;
    position: absolute;
    width: 90%;
    height: auto;
    top: 70px;
    right: 0;
    background-color: var(--text-color);
    z-index: 100;

    border-radius: 0px 0 20px 20px;
    transition: all 0.3s ease;
  }
  .Nav-Right > div {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }
  .Nav-Right-Links > ul:first-child,
  ul:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: center;
  }

  .Nav-Right-Links ul a {
    color: white;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    margin: 0;
    transition: all 0.3s ease;
  }
  .Nav-Right-Links ul a:hover {
    background-color: #616594;
  }
}

/* start home page style */
#home {
  width: 100%;
  min-height: calc(100vh - 70px);
  position: relative;
}
#homeContent {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  place-content: center;
}
#home #homeContent .rightHomeSide {
  grid-column-start: 3;
  grid-column-end: 4;
  place-content: center;
}
#home #homeContent .leftHomeSide {
  grid-column-start: 1;
  grid-column-end: 3;
  place-content: center;
}
#home #homeContent .rightHomeSide div {
  width: 70%;
  height: 70%;
  border-radius: 9999px;
  overflow: hidden;
}
#home #homeContent .rightHomeSide div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#home #homeContent .leftHomeSide p:first-child {
  color: var(--text-color);
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  width: 90%;
}
#home #homeContent .leftHomeSide div:first-child p:last-child {
  color: #616594;
  font-weight: 400;
  font-size: 1.6rem;
}
#home #homeContent .leftHomeSide div:last-child {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 60px;
  margin-top: 40px;
}
#home #homeContent .leftHomeSide div:last-child div {
  width: 50%;
  height: 60px;
  position: relative;
}
#home #homeContent .leftHomeSide div:last-child div .search-icon-right {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}

#home #homeContent .leftHomeSide div:last-child div input {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 18px;
  color: var(--text-color);
  border: none;
  border-radius: 30px;
  outline: none;
  box-shadow: 3px 3px 8px 0 rgb(0, 0, 0, 0.3);
}
#home #homeContent .leftHomeSide div:last-child div input::placeholder {
  color: var(--text-color);
}

#home #homeContent .leftHomeSide div:last-child button {
  width: 140px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: var(--back-color-btn-search);
  color: white;
  font-size: 20px;
  box-shadow: var(--box-shadow--box);
}

/* end home page style */
/* strat categories section  */
.categoriesPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  position: relative;
}
.categoriesContainer {
  width: 80%;
  margin: 0 auto;
}
.categories {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.categories > h3,
.categoriesContainer .SectionName {
  width: 100%;
  font-size: 30px;
  color: var(--text-color);
  margin: 50px 0px;
  text-align: center;
  font-weight: 500;
}
.categories .categoriesSection {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.CatitemsFilter,
.AllCategories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  place-items: center;
}

.catItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  align-self: stretch;
  width: 100%;
  height: 192px;
  opacity: 1;
  background-color: rgb(255, 240, 225);
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
  border: 0px;
}
.catItem:hover {
  box-shadow: var(--box-shadow--box);
}
.ImgConatiner {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.catItem .ImgConatiner img {
  height: 75%;
  object-fit: cover;
}
.catItem h3 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}

/* start Homeproduct section  */
.HomeProduct {
  width: 100%;
  display: grid;
  grid-template-areas:
    "special trending trending "
    "special trending trending "
    "special favorite favorite";
  row-gap: 24px;
  column-gap: 60px;
  align-content: start;
}
@media (max-width: 768px) {
  .HomeProduct {
    grid-template-columns: 1fr;
    grid-template-areas:
      "special"
      "trending"
      "favorite";
    margin-top: 40px;
  }
}

.HomeProduct .SpecialOffers {
  grid-area: special;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.HomeProduct .trendingProduct {
  grid-area: trending;
}

.SpecialOffersHead {
  width: 100%;
}

.SpecialOffers .SpecialItems {
  width: 100%;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.SpecialOffers .adsFlashSale {
  background-color: var(--text-color);
  width: 100%;
  /* max-width: 305px; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: var(--box-shadow--box);
}
.SpecialOffers .adsFlashSale h4 {
  color: rgb(255, 200, 23);
  font-size: 1.8rem;
  font-weight: 500;
}
.SpecialOffers .adsFlashSale > span {
  color: #939497;
  font-size: 1.4rem;
  font-weight: 500;
}
.SpecialOffers .adsFlashSale .timer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.SpecialOffers .adsFlashSale .timer div {
  width: 40px;
  height: 50px;
  display: flex;
  background-color: white;
  color: var(--text-color-price--main);
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}
.SpecialOffers .adsFlashSale .timer span {
  color: white;
  font-size: 1.8rem;
}

.SpecialOffersHead h3,
.favoriteCategoriesHead h3,
.trendingProductHead h3 {
  background-color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding-left: 60px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: 50px;
  color: var(--text-color);
  box-shadow: var(--box-shadow--box);
}
.SpecialOffersHead h3 i,
.favoriteCategoriesHead h3 i,
.trendingProductHead h3 i {
  font-size: 26px;
  margin-right: 30px;
}

.SpecialOffers .SpecialItems div .Special_item {
  width: 100%;
  height: 305px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  background-color: rgb(231, 246, 252);
  border: none;
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.SpecialItems .Special_item .Special_item_head {
  width: 100%;
  text-align: center;
}
.SpecialItems .Special_item .Special_item_head h3 {
  font-size: 25px;
  font-weight: 500;
}
.Special_item_head > span {
  font-size: 18px;
  font-weight: 400;
  color: rgb(75, 86, 142);
}

.Special_item_Img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; /* only this wrapper clips the image */

  position: relative;
}
.img-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--back-color-cover);
}
.SpecialItems .Special_item .Special_item_Img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.SpecialItems .Special_item .Special_item_Img .discountpop {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff5b2e;
  color: #000958;
  font-size: 10px;
  font-weight: 600;
}
.SpecialItems .Special_item .Special_item_Img .discountpop span {
  font-size: 14px;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SpecialItems .Special_item button {
  width: 70%;
  height: 50px;
  background-color: rgb(2, 159, 227);
  color: white;
  font-size: 20px;
  border-radius: 150px;
  border: none;
}
/* end Homeproduct section  */

/* Start trending Product */

.trendingProduct .TrandingItemsContainer {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.trendingProduct .TrandingItemsContainer > .trandingItems {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 20px;
  box-shadow: var(--box-shadow--box);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trendingProduct .TrandingItemsContainer > .trandingItems .trandingItemIMG {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border: none;
}
.trendingProduct .TrandingItemsContainer > .trandingItems .trandingItemIMG img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.trendingProduct .TrandingItemsContainer > .trandingItems .trandingItemContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: 100%;
  padding: 10px;
}

.trendingProduct
  .TrandingItemsContainer
  > .trandingItems
  .trandingItemContent
  .trandingItemContent-head {
  display: flex;
  align-items: center;
  justify-self: center;
}
.trendingProduct
  .TrandingItemsContainer
  > .trandingItems
  .trandingItemContent
  h2 {
  height: 18px;
  color: rgb(127, 132, 171);
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  letter-spacing: 0px;
  white-space: pre-line;
  word-break: break-word;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.trendingProduct
  .TrandingItemsContainer
  > .trandingItems
  .trandingItemContent
  i {
  width: 10%;
  color: rgb(127, 132, 171);
}

.trendingProduct
  .TrandingItemsContainer
  > .trandingItems
  .trandingItemContent
  .textPrice {
  display: flex;
  gap: 20px;
  align-items: center;
}
.trendingProduct
  .TrandingItemsContainer
  > .trandingItems
  .trandingItemContent
  .textPrice
  span:first-child {
  color: var(--text-color-price--main);
  font-size: 1rem;
  font-weight: 500;
}
.trendingProduct
  .TrandingItemsContainer
  > .trandingItems
  .trandingItemContent
  .textPrice
  span:last-child {
  color: rgb(127, 132, 171);
  font-size: 0.8rem;
  font-weight: 500;
}

/* End trending Product */

/* Start favorite section  */

.favoriteCategories {
  grid-area: favorite;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favoriteCategories .favoriteCatContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.favoriteItem {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.favoriteItem::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
  z-index: 2;
}
.favoriteItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center; /* shifts crop to show more of the right side */

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.favoriteItem div {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.favoriteItem div h4 {
  text-align: center;
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 500;
}
.favoriteItem div p {
  color: var(--text-color);
  font-size: 1.2rem;
}
.favoriteItem div button {
  padding: 20px 40px;
  border: none;
  border-radius: 60px;
  background-color: var(--back-color-btn-search);
  color: white;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow--box);
  transition: all 0.3s ease;
}
.favoriteItem div button:hover {
  background-color: #ff9679;
  color: #000958;
}
/* end favorite  section  */

/* end categories section  */

/* strat contact secttion  */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 30px;
}

.contact .parent {
  display: grid;
  width: 800px;
  height: 500px;
  grid-template-areas:
    "div1 div3"
    "div1 div3"
    "div2 div3";

  gap: 8px;
  position: relative;
}

.contact .div1 {
  grid-area: div1;

  background-color: white;

  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact .div1 h3 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-color);
}
.contact .div1,
.contact .div3 {
  padding: 40px;
}
.contact .div3 {
  grid-area: div3;
}
.contact .div3 form {
  width: 100%;
  height: 90%;
}
.contact .div1 > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.contact .parent > .div1 > div div span,
.SocialLinks span i {
  color: var(--text-color);
}
.contact .parent > .div1 i {
  margin-right: 10px;
  margin-bottom: 7px;
  font-size: 18px;
}
.contact .parent > .div1 .SocialLinks i {
  font-size: 24px;
  margin-top: 10px;
}

.Address {
  grid-row-start: 2;
}

.Social {
  grid-row-start: 2;
}

.email span a {
  text-decoration: underline;
}

.contact .div2 {
  grid-area: div2;
  background-color: red;

  border: none;
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact .div3 {
  grid-area: div3;
  background-color: var(--text-color);
  border: none;
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 728px) {
  .contact {
    padding: 20px 0;
  }
  .contact .parent {
    grid-template-areas:
      "div1"
      "div2 "
      "div3 ";
    width: 100%;
    height: auto;
  }
  header {
    padding: 0px 19px;
  }
  .Body-Container {
    width: 100%;
  }
  .contact .div1,
  .contact .div2,
  .contact .div3 {
    border-radius: 0;
  }
}
/*footer*/

.footer {
  background-color: #fde7cb;
  width: 100%;
  min-height: 300px;
  margin-top: 50px;
}
.footer .Footer-Container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.footer .Footer-Container .footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 40px;
  padding: 60px 0;
}

@media screen and (max-width: 728px) {
  .footer .Footer-Container .footer-content {
    display: grid;
    place-items: center;
    justify-content: flex-end;
  }
}

.footer .Footer-Container .footer-content .footerItem:nth-child(1) i {
  font-size: 40px;
}
.footer .Footer-Container .footer-content > .footerItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.footer .Footer-Container .footer-content .footerItem h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
}
.footer .Footer-Container .footer-content .footerItem a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
}
.footer .Footer-Container .footer-content .footerItem:last-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer .Footer-Container .footer-content .footerItem:last-child div div {
  display: flex;
  flex-direction: row;
}
.footer
  .Footer-Container
  .footer-content
  .footerItem:last-child
  > .footerItem
  i:last-child {
  font-size: 40px;
  color: var(--text-color);
  margin-right: 10px;
}
.footer
  .Footer-Container
  .footer-content
  .footerItem:last-child
  > .footerItem
  h4 {
  left: 0;
}
.footer hr {
  border: 1px solid var(--text-color);
}

.copyrightFoot {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

.div3 h3 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}
.div3 form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div3 form label {
  color: white;
  font-size: 16px;
}
.div3 form > div:first-child {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.div3 form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div3 form input {
  width: 100%;
  height: 30px;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #293173;
}
.div3 form textarea {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #293173;
  padding: 10px;
  color: #676873;
}
.div3 form button {
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #ff5b2e;
  color: white;
}

/* strat bolg section  */
.blogs {
  width: 100%;
  min-height: 600px;
  position: relative;
}
.blogs .blogArtic {
  display: grid;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  place-items: center;
}
.blogs .blogArtic .blogsItem {
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 3px 2px 8px 3px rgb(0, 0, 0, 0.1);
}

.blogs .blogArtic img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  background-color: #293173;
  border-radius: 20px;
}
.blogs .blogArtic .blogsItem .blogItem_content {
  width: 100%;
  height: 50%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blogs .blogArtic .blogsItem .blogItem_content h3 {
  font-size: 16px;
  font-weight: 600;
}
.blogs .blogArtic .blogsItem .blogItem_content p {
  font-size: 12px;
  font-weight: 400;
}
.blogs .blogArtic .blogsItem .blogItem_content .authur {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.blogs .blogArtic .blogsItem .blogItem_content .authur > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.blogs .blogArtic .blogsItem .blogItem_content .authur span {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
}
/* end bolg section  */

/* start product page  */
.productPage {
  width: 100%;
  min-height: 100vh;
}
.productPage .breadcrumb {
  width: 100%;
  height: 60px;
}
.productPage .breadcrumb > span {
  color: var(--text-color);
  font-size: 1.2rem;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.productPage .ProductsContainer {
  width: 100%;
  height: calc(100% - 60px);
}
.productPage .ProductsContainer .CatName_ProductPage {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productPage
  .ProductsContainer
  .CatName_ProductPage
  .CatName_ProductPage_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  flex-direction: column;
}

.productPage
  .ProductsContainer
  .CatName_ProductPage
  .CatName_ProductPage_content
  > img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(255, 240, 225);
}
.productPage
  .ProductsContainer
  .CatName_ProductPage
  .CatName_ProductPage_content
  > h3 {
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
}
.productsGrid {
  width: 100%;
  height: calc(100% - 280px);
}
.productsGrid .FilterBar {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.productsGrid .FilterBar .FilterBar_Left,
.productsGrid .FilterBar .FilterBar_Right {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.productsGrid .FilterBar .FilterBar_Left .filterBtn,
.FilterBar .FilterBar_Right > button {
  padding: 10px 15px;
  background-color: white;
  border: none;
  box-shadow: var(--box-shadow--box);
  border-radius: 5px;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.productsGrid .FilterBar .FilterBar_Left .filterBtn:hover,
.productsGrid .FilterBar .FilterBar_Left .filterBtn.active {
  background-color: var(--text-color);
  color: white;
}
/* ============== */

.FilterBar .FilterBar_Right > select {
  padding: 10px 15px;
  box-shadow: var(--box-shadow--box);
  background-color: white;
  border-radius: 5px;
  border: none;
}

.FilterBar .FilterBar_Right > select option {
  background-color: #fde7cb;
  color: var(--text-color);
  border: none;
}
option:hover,
option:checked {
  background-color: var(--text-color);
  color: white;
}
.products {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  place-items: center;
  position: relative;
}

.products .productItem {
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  box-shadow: var(--box-shadow--box);
  border-radius: 10px;
}
.products .productItem .img {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.products .productItem .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products .productItem .img .addTocart {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 9, 88, 0.6);
  z-index: 10;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: all 0.3s ease;
}
.products .productItem:hover .addTocart {
  opacity: 1;
}

.products .productItem .img .addTocart button {
  padding: 10px 20px;
  border: none;
  border-radius: 99999px;
  color: var(--text-color);
  box-shadow:
    0 4px 8px 0 rgba(255, 255, 255, 0.4),
    0 1px 20px 0px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}
.products .productItem .img .addTocart button:hover {
  background-color: #000958;
  color: white;
}
.products .productItem .productItem_header {
  width: 100%;
  height: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.products .productItem .productItem_header .productItem_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .productItem .productItem_header .productItem_title > i,
.products .productItem .productItem_header .productItem_title > p {
  color: var(--text-color);
}

.products .productItem .productItem_header .price {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 600;
}

/* end product page  */

/* start add more product  */
.LoadMoreSection {
  width: 100%;
  margin-top: 70px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LoadMoreSection #LoadMore {
  padding: 15px 30px;
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 9999px;
  transition: all 0.3s ease;
}
.LoadMoreSection #LoadMore:hover {
  background-color: red;
  color: white;
}
/* end add more product  */
